@tailwind base;
@tailwind components;
@tailwind utilities;


.banner{
  clip-path: circle(165vh at 50% -100vh);
  height: 358px;
  width: 100%;
}

.photo1{
  border-radius: 39px;
  border: 7px solid #FFF;
  background: linear-gradient(0deg, #00000033 0%, #00000033 100%), linear-gradient(239deg, #1300eed4 -13.97%, #1a0ea47d 105.9%);
}

.photo2{
  border-radius: 39px;
background: url('../../public/img/Rectangle15.png') 
}

.photo3{
  border-radius: 39px;
border: 1px solid #000;
background: linear-gradient(151deg, #FA6F6F 8.2%, #A51D1D 67.67%); 
}

.stroll{
  border-radius: 15px;
border: 1px solid #FFF;
background: linear-gradient(92deg, rgba(255, 255, 255, 0.24) 0.35%, rgba(255, 255, 255, 0.12) 97%);
box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
backdrop-filter: blur(10px);
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
